<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: URLs list</title>
</head>
<body>
    <header>
        <% include ../views/partials/_header %>
    </header>

    <% size = Object.keys(urls).length; %>
    <% if ( size > 0 ) {  %>
    <h1>URLS:</h1>
    <ul>
        <% for (const key in urls) { %>
            <% if (urls.hasOwnProperty(key)) { %>
                <% const url = urls[key]; %>
                <li><a href="/u/<%= key %>"><%= key %></a> -> <a href="<%= url.longURL %>"><%= url.longURL %></a>(owned by <%= url.userID %>) <a href="/urls/<%= key %>">Edit</a> <form method="POST" action="/urls/<%= key %>/delete?_method=DELETE"><input type="submit" value="Delete"></form></li>
            <% } %>
        <% } %>
    </ul>
    <p>Shorten a new <a href='/urls/new'>URL</a></p>
    <% } else if (user !== undefined) { %>
        <h2>Welcome</h2>
        <p>Start shortening URLs.</p>
        <p>Shorten a new <a href='/urls/new'>URL</a></p>
    <% } else { %>
        <h1>Welcome</h1>
        <p>In order to shorten URL please <a href="/login">Login</a> if you have an account or if you don't <a href="/register">Register</a>.</p>
    <% } %>        
</body>
</html>
<!-- urls_index.ejs -->