<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp: URLs list</title>
</head>
<body>
    <header>
        <% include ../views/partials/_header %>
    </header>
    <p>Shorten a new <a href='/urls/new'>URL</a></p>

    <h1>URLS:</h1>

    <ul>
        <% for (const key in urls) { %>
            <% if (urls.hasOwnProperty(key)) { %>
                <% const shorten = urls[key]; %>
                <li><%= key %> -> <a href="<%= shorten %>"><%= shorten %></a> <a href="/urls/<%= key %>">Edit</a> <form method="POST" action="/urls/<%= key %>/delete"><input type="submit" value="Delete"></form></li>
            <% } %>
        <% } %>
    </ul>
</body>
</html>